@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Oswald&display=swap'); /*Oswald*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Nunito:wght@500&family=Oswald&display=swap'); /*Nunito*/


table {
    font-size: 100%;
    width: 100%;
    border-collapse: collapse;
    
}


body {
    margin: 0;
    font-family: 'Nunito', sans-serif;



    background-attachment: fixed; /* Фиксированный фон при прокрутке */
  }

/* Стили для контейнера кнопки и списка */
.hours-container {
    text-align: right; /* Выравнивание содержимого справа */
    position: relative; /* Для позиционирования списка времени работы */
    margin-right: 20px; /* Отступ справа */
    margin-top: -180px;
}

/* Остальные стили остаются прежними */



.link-button {
    font-family: 'Nunito', sans-serif;
    background-color: white; /* Белый фон */
    color: #333; /* Темно-серый текст */
    padding: 10px 20px; /* Поменьше отступы для более утонченного вида */
    font-size: 14px; /* Меньший размер шрифта */
    border: 2px solid #333; /* Тонкая граница соответствующего цвета */
    border-radius: 25px; /* Более скругленные углы для современного вида */
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Плавный эффект перехода для взаимодействия */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Слегка заметная тень для глубины */
}

/* Сброс стилей для разных состояний ссылки */
.link-button:link, .link-button:visited, .link-button:hover, .link-button:active, .link-button:focus {
    color: #333; /* Цвет текста остается неизменным */
    background-color: white; /* Фон остается белым */
    border: 2px solid #333; /* Граница остается одинаковой */
}

/* Стили для наведения на ссылку */
.link-button:hover {
    background-color: #f8f8f8; /* Светло-серый фон при наведении */
    border-color: #4CAF50; /* Цвет границы изменяется на акцентный */
    color: #4CAF50; /* Цвет текста также изменяется */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень становится более заметной */
}

/* Стили для фокуса ссылки */
.link-button:focus {
    outline: none; /* Убираем стандартный контур фокуса */
    border-color: #5cb85c; /* Цвет границы при фокусе */
}





/* Стили для кнопки */
.hours-trigger {
    background-color: white; /* Белый фон */
    color: #333; /* Темно-серый текст */
    padding: 10px 20px; /* Поменьше отступы для более утонченного вида */
    font-size: 14px; /* Меньший размер шрифта */
    border: 2px solid #333; /* Тонкая граница соответствующего цвета */
    border-radius: 25px; /* Более скругленные углы для современного вида */
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Плавный эффект перехода для взаимодействия */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*margin: 5px 10px; /* Отступы для разделения кнопок, если они есть */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Слегка заметная тень для глубины */
}

/* Стили для наведения на кнопку */
.hours-trigger:hover {
    background-color: #f8f8f8; /* Светло-серый фон при наведении */
    border-color: #4CAF50; /* Цвет границы изменяется на акцентный */
    color: #4CAF50; /* Цвет текста также изменяется */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень становится более заметной */
}

/* Стили для фокуса кнопки */
.hours-trigger:focus {
    outline: none; /* Убираем стандартный контур фокуса */
    border-color: #5cb85c; /* Цвет границы при фокусе */
}


.hours-popup {
    font-family: 'Nunito' , sans-serif;
    display: none; /* Скрыт по умолчанию */
    position: absolute; /* Поверх других элементов */
    right: 0; /* Выравнивание по правому краю контейнера */
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1; /* Убедитесь, что он над другими элементами */
}

.hours-popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hours-popup li {
    padding: 8px 0;
}





.detailed-info
{
    font-size: 120%;
    font-family: "Nunito", sans-serif;
}


.nazv
{
    font-size: 200%;
    font-family: "Oswald", sans-serif;
}

th, td {


    border: 0px solid black;
    text-align: center;
    padding: 10px;
    
}

.photo
{
    overflow: hidden;
}

.photo img {

    width: 370px;
    height: auto;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;

}


.photo:hover img
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
} 






.reviews, .detailed-info {
    text-align: left;
}

.stars {
    color: gold;
}

#map {

    
    width: 420px;
    height: 240px;
    border: 1px solid #ccc;
    

   
}